* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex: wrap;
  div.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex: 5 1 400px;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;

      li {
        a {
          text-decoration: none;
          color: #09777d;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backimage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../Pictures/max-larochelle-vNOf1uNGPA4-unsplash\ \(1\).jpg");
    position: center;
    contain: cover;
    display: flex;
    flex-direction: column;

    div.title {
      h1 {
        color: white;
        font-size: 6rem;
        text-align: center;
      }
    }

    section.content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      div.map {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 516px;
        iframe {
          margin-left: 1rem;
        }
        div.information {
          h3 {
            color: white;
            padding: 1rem;
            font-size: 1.5rem;
          }
        }
      }

      div.Form1 {
        flex: 1 1 516px;

        form {
          input,
          textarea {
            font-size: 2.5rem;
            width: 30vw;
          }

          button {
            font-size: 1.5rem;
          }
        }
      }
      div.introduction {
        padding: 2rem;
        flex: 1 1 516px;
        color: white;

        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
        p {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}

input::placeholder {
  font-size: 2rem;
}

textarea::placeholder {
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;
  background-color: white;

  div.logo {
    display: flex;
    align-items: center;
    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    width: 30%;
    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        flex-basis: 100px;
        a {
          color: black;
          font-weight: 600;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }

  section.links {
    a {
      margin: 0rem 1rem;
      img {
        width: 5vw;
        height: 5vw;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }

  footer {
    background-color: rgb(192, 192, 192);
    div.logo {
      img {
        width: 15vw;
        height: 15vw;
      }
    }
    section.links {
      margin-top: 1rem;
      a {
        img {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  section.content {
    div.Form1 {
      form {
        input textarea {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  nav {
    ul {
      flex-direction: column;
    }
  }
}
